#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.25rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.hidden {
  visibility: hidden;
}

/*
.master-word.game.win {
}
.master-word.game.lose {
}
*/

.master-word .panel {
  margin-bottom: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 1rem;
  min-width: 16rem;
  background-color: #f0f8ffd6;
  border-radius: 1rem;

  box-shadow: 1px 1px 16px 2px;
}

.master-word .game-board {
  position: relative;
}

.master-word .game-board .board {
  margin: 0 auto;
}

.master-word .game-board .result h2.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
}
