@import '../../../../styles/variables';

.game-page {
  .header {
    height: 3rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    & h1 {
      margin: 0;
      font-size: 2rem;
      line-height: 1;
      padding: 0.5rem 0;
    }
  }

  .board {
    background-color: transparent;
    margin: 0 auto;
  }

  .legend {
    display: flex;
    justify-content: center;
    gap: 0.25rem;
    font-size: 0.75rem;
    color: #606060;
    margin-bottom: 0.5rem;
    & > span {
      margin-left: 1.25rem;
      display: block;
      position: relative;
      &:before {
        content: ' ';
        display: block;
        background-color: $letter-incorrect;
        width: 1rem;
        height: 1.125rem;
        position: absolute;
        left: -1.25rem;
      }
      &.misplaced {
        &:before {
          background-color: $letter-misplaced;
          @media (prefers-color-scheme: dark) {
            background-color: $letter-misplaced-dark;
          }
        }
      }
      &.correct {
        &:before {
          background-color: $letter-correct;
        }
      }
    }
  }

  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);

    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    .Spinner {
      margin: 0;
      display: inline-flex;
    }
  }
}
