.input-modal input[type='text'] {
  border-radius: 8px;
  border: 1px solid transparent;

  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;

  transition: border-color 0.25s;

  padding: 0.5rem;
  margin-bottom: 0.5rem;

  max-width: 12rem;
}
.input-modal input[type='text']:hover {
  border-color: #646cff;
}
.input-modal input[type='text']:focus,
.input-modal input[type='text']:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.input-modal input[type='text']:invalid {
  border-color: red;
}

.input-modal label {
  font-weight: 500;
  font-size: large;
  margin: 0.5rem 0;
  display: block;
}

.input-modal.fab-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 375px;
  margin: 0 auto;
  align-items: end;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.fab-container .fab {
  background-color: green;
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  padding: 0;
}

.fab-container .fab svg {
  fill: rgba(255, 255, 255, 0.75);
}

@media (prefers-color-scheme: light) {
  .input-modal input[type='text'] {
    background-color: #f9f9f9;
  }
}
