.result.panel .game-language {
  position: relative;
  justify-content: center;
  top: initial;
  right: initial;

  padding-bottom: 0.25rem;
}

.result.panel .language-info {
  font-size: 0.75rem;
}
