.letter {
  height: 4rem;
  box-sizing: border-box;
  background-color: seashell;
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
  pointer-events: none;
}

.letter .container {
  font-weight: 500;
  font-size: 1.5rem;
  user-select: none;
}

.letter .icon {
  display: none;
}

.mobile .letter.active.show-icon .icon {
  display: block;
}

.mobile .letter .icon svg {
  fill: #00000057;
  position: absolute;
  left: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
}

.letter.inactive {
  background-color: hsl(25 40% 90% / 1);
}

.letter.active {
  background-color: hsl(25 100% 91% / 1);
}

.letter.inactive.correct {
  background-color: green;
  color: rgba(255, 255, 255, 0.87);
}

.letter.inactive.misplaced {
  background-color: orange;
}

.letter.incorrect.inactive {
  background-color: grey;
}

.letter.active.wrong {
  border-color: red;
  border-top: 1px solid red;
  border-bottom: 2px solid red;

  animation: blink 0.75s;
  animation-iteration-count: 3;
}
.letter.active.wrong.first {
  border-left: 1px solid red;
}
.letter.active.wrong.last {
  border-right: 1px solid red;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
