.language-selector.translation {
  position: absolute;
  top: 0.25rem;
  right: 0.75rem;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.language-selector.translation button {
  padding: 0.25rem;
}

.language-selector.translation button.selected {
  background-color: hsl(25 40% 90% / 1);
  border-color: hsl(27, 27%, 50%);
}

.language-selector.translation button:hover {
  border-color: hsl(27, 27%, 50%);
}

@media (prefers-color-scheme: dark) {
  .language-selector.translation button.selected {
    background-color: hsl(27, 27%, 50%);
  }
}
