@import '../../../styles/variables';

.results {
  .game-language {
    margin-bottom: 2rem;
    .language-info {
      margin: 0 0 0.5rem 0;
    }

    .language-selector {
      position: relative;
      justify-content: center;
      top: initial;
      right: initial;

      padding-bottom: 0.25rem;
    }
  }

  .score-container {
    position: relative;
    margin: 0 auto;
    max-width: 20rem;

    .highscore-label {
      background-color: $results-highscore-bgcolor;
      padding: 0.25rem 0.5rem;
      max-width: 6rem;
      display: block;
      border-radius: 0.5rem;
      border: 0.25rem $results-highscore-color solid;
      color: $results-highscore-color;
      font-weight: 600;
      position: absolute;
      right: 0;
      top: 0;
      transform: rotate(0.08turn);
      box-shadow: 1px 1px 7px 0px black;

      @media (prefers-color-scheme: dark) {
        color: $results-highscore-color-dark;
        border-color: $results-highscore-color-dark;

        text-shadow: 2px 2px 3px black;
      }
    }
  }

  .button-row {
    margin-bottom: 4rem;
  }
}
